# Backend
backend/target/
backend/*.class
backend/.idea/
backend/*.iml

# Mobile
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/ios/Pods/
mobile/android/.gradle/
mobile/android/local.properties

# Docker / secrets
.env

# General
.DS_Store
*.log
