.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.idea/
*.iml
.vscode/
.DS_Store
ios/Flutter/Flutter.podspec
ios/Pods/
android/.gradle/
android/local.properties
**/*.g.dart
**/*.freezed.dart
